
    <div class="row" id ="loginPage" style="background-image:url('../../assets/facsignup.jpg');background-size:cover; height: 100vh;
    width: 100vw;" >
      <div class="col-sm-4"></div>
      <!-- <div class="col-sm-3"></div> -->
    <div id="loginForm" class="col-sm-4">
        <mdl-card  mdl-shadow="8">
            <mdl-card-title mdl-card-expand>
         <h4>
           Faculty Registration
            </h4>
            </mdl-card-title>
            <mdl-card-actions mdl-card-border>
              <mdl-layout-spacer></mdl-layout-spacer>
              <form class="form-horizontal" [formGroup]="form">
                      <mdl-textfield
                      type="text"
                      formControlName="username"
                      label="Username"
                      placeholder="Enter Username"
                      autofocus></mdl-textfield>
                      <mdl-layout-spacer></mdl-layout-spacer>
                        <mdl-textfield
                      type="password"
                      formControlName="password"
                      label="Password"
                      placeholder="Enter Password"
                      autofocus></mdl-textfield>
                  <mdl-layout-spacer></mdl-layout-spacer>
                      <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple (click)="facultyRegister()">
                          Register
                        </button> 
                        &nbsp; &nbsp;
                        <mdl-spinner [active]="showRefresh"></mdl-spinner>              
                </form>
            </mdl-card-actions>
          </mdl-card>
    </div>
    </div>  
    