#sameline{    
    display: inline;
}
#questionEditor{
    margin:5%;
    /* background-color: #f1f1f1; */
}

select{
width:30%;
}

.container {
    display: flex;
  }
  .container > div {
    flex: 1; /*grow*/
  }

  .cases {
    display: flex;
  }
  .cases > div {
    flex: 1; /*grow*/
  }

.card{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;    
    margin-bottom: 3%;    
    padding-left: 1%;
    background-color: #f1f1f1;  
}

.totalSubmit{
    margin-top:5%;
}

#sameline{    
  display: inline;
}


hr {
  clear: both;
  visibility: hidden;
}