<div id="editor">
    <div class="col-sm-6" id="questionPart" style="display:block;min-height:500px;overflow:scroll;">
      <h1>{{question.name}}</h1>
      <p>{{question.question}}</p>
    </div>
    <div class="editorPart">
    <div class="col-sm-6">
      <div ace-editor
      #editor
      [(text)]="code" 
      [mode]="'javascript'" 
      [options]="options"
      [readOnly]="false"
      [autoUpdateContent]="true"
      [durationBeforeCallback]="1000"
      (textChanged)="onChange($event)"
      style="min-height: 500px; width:100%; font-size:120%; overflow: scroll;"></div>

      <div style="margin:4%;padding:2%;box-shadow:1px 1px 2px">
        <label for="language">language</label>
        <select name="lang" id="lang" [(ngModel)]="lang">
          <option value="1">PYTHON</option>
          <option value="2">JAVA</option>
          <!-- <option value="3">C</option> --> 
        </select>
        <br>
        <input style="margin:2%;" type="submit" value="Run Sample Test Case" (click)="runSampleTestCases()" class="btn btn-primary">
        <input type="submit" style="margin:2%;" value="Run All Test Cases" class="btn btn-danger" (click)="run()">
        <br>
        <button (click)="download()" style="margin:2%;" class="btn btn-warning">Download Code</button>
        <input type="submit" name="submitScore" style="margin:2%;" value="submit" (click)="submitScore()" class="btn btn-success">
      </div>
    </div>
  </div>
  <div  id="output" *ngIf="showOutput">
    <h4 *ngIf="sampleResult" style="color:green">Output: Sample Test Cases Passed</h4>
    <h4 *ngIf="outputResult" style="color:green">Output : CORRECT RESULT</h4>
    <h4 *ngIf="!outputResult" style="color:red">Output : INCORRECT RESULT</h4>
    <h4 *ngIf="showScore" style="color:violet">Score : {{score}}/5</h4>
    <h4 *ngIf="!outputResult" style="color:red">
      <h4>Your Output: </h4>{{err}}</h4>
  </div>
</div>
