<div>
  <div class="demo-container" mdl-shadow="2">
    <mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
      <mdl-layout-header>
        <mdl-layout-header-row>
          <mdl-layout-title>Code Arena</mdl-layout-title>
          <mdl-layout-spacer></mdl-layout-spacer>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">

            <a class="mdl-navigation__link" *ngIf="!isLoggedIn" routerLink="/adminLogin">Admin Login</a>

              <a class="mdl-navigation__link" *ngIf="!isLoggedIn" routerLink="/login">Student Login</a>

              <a class="mdl-navigation__link" *ngIf="!isLoggedIn" routerLink="/facultyLogin">Faculty Login</a>

              <a class="mdl-navigation__link" *ngIf="!isLoggedIn" routerLink="/facultyRegister">Faculty Register</a>

              <a class="mdl-navigation__link" *ngIf="!isLoggedIn" routerLink="/registerUser">Register Student</a>

              <a class="mdl-navigation__link" *ngIf="isLoggedIn">Welcome {{user}}</a>

              <a class="mdl-navigation__link" *ngIf="isLoggedIn" (click)="logout()">Log out</a>
          </nav>
        </mdl-layout-header-row>
      </mdl-layout-header>
      <mdl-layout-drawer>
        <mdl-layout-title>Code Arena</mdl-layout-title>
        <nav class="mdl-navigation">

          <a class="mdl-navigation__link" *ngIf="!isLoggedIn" routerLink="/adminLogin">Admin Login</a>

          <a class="mdl-navigation__link" *ngIf="!isLoggedIn" routerLink="/login">Student Login</a>

          <a class="mdl-navigation__link" *ngIf="!isLoggedIn" routerLink="/facultyLogin">Faculty Login</a>

          <a class="mdl-navigation__link" *ngIf="!isLoggedIn" routerLink="/facultyRegister">Faculty Register</a>

          <a class="mdl-navigation__link" *ngIf="!isLoggedIn" routerLink="/registerUser">Register Student</a>

          <a class="mdl-navigation__link" *ngIf="isLoggedIn">Welcome {{user}}</a>

          <a class="mdl-navigation__link" *ngIf="isLoggedIn" (click)="logout()">Log out</a>
        </nav>
      </mdl-layout-drawer>
      <mdl-layout-content>
        <!-- Your content goes here -->
      </mdl-layout-content>
    </mdl-layout>
  </div>



  <div id="container">
    <router-outlet></router-outlet>
  </div>
  <!-- <app-copyrights></app-copyrights> -->
</div>
