<div>
  <h5>Select Year : </h5>
  <select name="selectedYear" [(ngModel)]="selectedYear">
    <option *ngFor="let i of years">{{i}}</option>

  </select>        
</div>
<div>
  <h5>Select Section : </h5>
  <select name="selectedSection" [(ngModel)]="selectedSection">
    <option *ngFor="let i of sections">{{i}}</option>
  </select>
</div>

<button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple (click)="generateCode()">
  Generate Code
</button>

<h1 style="margin: 1">{{code}}</h1>