
    <div class="row" id ="loginPage" style="background-image:url('../../assets/signup.jpg');background-size:cover; height: 100vh;
    width: 100vw;" >
      <div class="col-sm-4"></div>
      <!-- <div class="col-sm-3"></div> -->
    <div id="loginForm" class="col-sm-4">
        <mdl-card  mdl-shadow="8">
            <mdl-card-title mdl-card-expand>
         <h4>
           Student Registration
            </h4>
            </mdl-card-title>
            <mdl-card-actions mdl-card-border>
              <mdl-layout-spacer></mdl-layout-spacer>
              <form class="form-horizontal" [formGroup]="form">
                      <mdl-textfield
                      type="text"
                      formControlName="username"
                      label="Username"
                      placeholder="Enter Username"
                      autofocus></mdl-textfield>
                      <mdl-layout-spacer></mdl-layout-spacer>
                        <mdl-textfield
                      type="password"
                      formControlName="password"
                      label="Password"
                      placeholder="Enter Password"
                      autofocus></mdl-textfield>
                  <mdl-layout-spacer></mdl-layout-spacer>

        <div class="form-group">
            <label class="control-label col-sm-5" for="year">Year</label>
            <div class="col-sm-2">
                <select formControlName="year">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
          </div>
  
          
          <div class="form-group">
              <label class="control-label col-sm-5" for="year">Section</label>
              <div class="col-sm-2">
                  <select formControlName="section">
                      <option value="A">A</option>
                      <option value="B">B</option>
                      <option value="C">C</option>
                      <option value="D">D</option>
                  </select>
               </div>
            </div>
                      <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple (click)="registerUser()">
                          Register
                        </button> 
                        &nbsp; &nbsp;
                        <mdl-spinner [active]="showRefresh"></mdl-spinner>              
                </form>
            </mdl-card-actions>
          </mdl-card>
    </div>
    </div>  
    