.card{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;    
    margin-bottom: 3%;    
    padding-left: 1%;
    background-color: #f1f1f1;  
}

select{
    width:80%;
}

.container {
    display: flex;
  }
  .container > div {
    flex: 1; /*grow*/
  }
  #mapButton{
      margin-top:20%;
      margin-left:5%;
  }